{
  "extends": "stylelint-config-standard",
  "plugins": [],
  "rules": {
    "alpha-value-notation": null,
    "custom-property-empty-line-before": null,
    "declaration-empty-line-before": null,
    "no-descending-specificity": null,
    "rule-empty-line-before": null
  }
}
