:root {
  --color-neutral-0: #000;
  --color-neutral-10: #222;
  --color-neutral-20: #444;
  --color-neutral-100: #fff;

  --color-text: var(--color-neutral-0);
  --color-bg: #c9f8ff;
  --color-title: #0081c1;
  --color-nav: var(--color-neutral-20);
  --color-border-header: #818384;
  --color-border: var(--color-neutral-10);

  --color-available: #08adff;
  --color-empty: var(--color-neutral-100);
  --color-miss: #81837b6e;
  --color-present: #ffa800;
  --color-match: #23f787;

  --color-hint-text: var(--color-neutral-20);

  --color-radio-bg: #81837b6e;
  --color-radio-active: var(--color-available);

  --color-notice-bg: var(--color-neutral-10);
  --color-notice-text: var(--color-neutral-100);
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: "Andika New Basic", sans-serif;
  height: 100%;
  margin: 0;
  padding: 1rem 1rem 0;
}

main {
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: 55px; /* prevent reflow */
  display: flex;
  align-items: center;
  color: var(--color-title);
  font-weight: bolder;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border-header);
  padding: 0 0 1.2rem;
  margin-bottom: 1rem;
}

.nav-link {
  cursor: pointer;
  color: var(--color-nav);
}

.title {
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
}
@media screen and (min-width: 600px) {
  .title {
    font-size: 2rem;
  }
}

i {
  padding: 4px;
}

a {
  text-decoration: none;
}

.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}

.game-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guesses-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guesses {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 4px;
}

.guesses-word {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 4px;
  grid-auto-flow: column;
}

.keyboard {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  margin: 0 auto 8px;
  font-size: 1.5rem;
}

.key {
  border-radius: 15px;
  background-color: var(--color-available);
  border: 2px solid var(--color-border);
  color: var(--color-text);
  text-align: center;
  cursor: pointer;
  width: 30px;
  line-height: 42px;
}
.key-enter {
  min-width: 80px;
  text-transform: capitalize;
}
.key-back {
  min-width: 60px;
}
@media screen and (min-width: 600px) {
  .keyboard {
    gap: 8px;
  }
  .key {
    line-height: 62px;
    width: 40px;
  }
  .key-letter,
  .key-back {
    font-size: 2rem;
  }
}

.radio-toolbar {
  margin: 2px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  background-color: var(--color-radio-bg);
  padding: 5px 10px;
  font-size: 16px;
  border: 2px solid var(--color-border);
  border-radius: 4px;
}

.radio-toolbar label:hover {
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: var(--color-radio-active);
}

.guesses-tile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-border);
  border-radius: 50%;
  padding-bottom: 4px; /* improve letter centering */
  font-size: 1rem;
  line-height: 1;
  background: var(--color-empty);
  aspect-ratio: 1/1;
  transition: background linear 0.5s;
}
.guesses-tile span:empty::before {
  content: " ";
}

@media screen and (min-height: 600px) {
  .guesses-tile {
    font-size: 1.5rem;
  }
}

@media screen and (min-height: 700px) {
  .guesses,
  .guesses-word {
    gap: 8px;
  }
  .guesses-tile {
    font-size: 2rem;
  }
}

.guesses-tile:nth-of-type(1) {
  transition-delay: 0s;
}
.guesses-tile:nth-of-type(2) {
  transition-delay: 0.25s;
}
.guesses-tile:nth-of-type(3) {
  transition-delay: 0.5s;
}
.guesses-tile:nth-of-type(4) {
  transition-delay: 0.75s;
}
.guesses-tile:nth-of-type(5) {
  transition-delay: 1s;
}
.guesses-tile:nth-of-type(6) {
  transition-delay: 1.25s;
}
.guesses-tile:nth-of-type(7) {
  transition-delay: 1.5s;
}
.guesses-tile:nth-of-type(8) {
  transition-delay: 1.75s;
}

.emoji-tile {
  border: none;
  background: none;
}

.cursor {
  outline: 1px solid var(--color-border);
}
@media screen and (min-height: 600px) {
  .cursor {
    outline: 3px solid var(--color-border);
  }
}

.hint-area {
  min-height: 52px;
  font-size: 1rem;
  color: var(--color-hint-text);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hint-button {
  font-size: 1rem;
  appearance: none;
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
}

.victory,
.defeat {
  text-align: center;
  margin-bottom: 2rem;
}
.victory {
  font-size: 3rem;
  animation: zoom 2s ease-in 1;
}
.defeat {
  font-size: 2rem;
}

.unavailable {
  background-color: var(--color-miss);
  cursor: auto;
}
.miss {
  background-color: var(--color-miss);
}
.present {
  background-color: var(--color-present);
}
.match {
  background-color: var(--color-match);
}

.collection-tiles .guesses-word {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
.collection-tiles .guesses-tile {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
}

.notice {
  position: fixed;
  min-width: 250px;
  z-index: 1;
  bottom: 15px;
  left: 50%;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  padding: 4px;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: var(--color-notice-text);
  background-color: var(--color-notice-bg);
}

/* animations */

.pulse {
  animation: pulse 0.5s linear infinite alternate;
}
.pop {
  animation: pop 0.3s;
}
.fadein {
  animation: fadein 0.5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes zoom {
  0% {
    transform: scale(0) rotate(-1turn);
  }
  80% {
    transform: scale(0.5) rotate(-180deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

@keyframes pop {
  from {
    transform: scale(0.8);
  }
  40% {
    transform: scale(1.2);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

[x-cloak] {
  display: none !important;
}
