:root {
  --tile-spacing: 4px;
  --total-guesses: 6;

  --color-neutral-0: #000;
  --color-neutral-10: #222;
  --color-neutral-20: #444;
  --color-neutral-100: #fff;

  --color-text: var(--color-neutral-0);
  --color-bg: #30a3fc;
  --color-title: #ffffff;
  --color-nav: var(--color-neutral-20);
  --color-border-header: #818384;
  --color-border: var(--color-neutral-10);

  --color-available: #ffffff;
  --color-empty: transparent;
  --color-miss: #0088f0;
  --color-present: #fac748;
  --color-match: #09e85e;

  --color-hint-text: var(--color-neutral-20);

  --color-radio-bg: #ccc;
  --color-radio-active: #eee;

  --color-notice-bg: var(--color-neutral-10);
  --color-notice-text: var(--color-neutral-100);
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: "Andika New Basic", sans-serif;
  height: 100%;
  margin: 0;
  padding: 1rem 1rem 0;
}

main {
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: 55px; /* prevent reflow */
  display: flex;
  align-items: center;
  color: var(--color-title);
  font-weight: bolder;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border-header);
  padding: 0 0 1.2rem;
  margin-bottom: 1rem;
}

.nav-link {
  cursor: pointer;
  color: var(--color-nav);
}

.title {
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
}
@media screen and (min-width: 600px) {
  .title {
    font-size: 2rem;
  }
}

i {
  padding: 4px;
}

a {
  text-decoration: none;
}

.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}

.game-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 80%;
  justify-content: space-between;
}

.guesses-grid {
  min-height: 0;
  padding: 8px;
}

.target-5 .guesses-row {
  --guess-columns: calc(5 + 2);
}
.target-6 .guesses-row {
  --guess-columns: calc(6 + 2);
}
.guesses-row {
  display: flex;
  justify-content: center;
  gap: var(--tile-spacing);
  aspect-ratio: var(--guess-columns, 6) / 1;
  margin: 0 auto;
  --margin-between-rows: calc(var(--total-guesses) * var(--tile-spacing));
  height: calc(calc(100% - var(--margin-between-rows)) / var(--total-guesses));
}

.guesses-row + .guesses-row {
  margin-top: var(--tile-spacing);
}

.guesses-tile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  padding-bottom: 0.2em;
  font-size: 0.5rem;
  line-height: 1;
  background: var(--color-empty);
  transition: background linear 0.5s;
}

@media screen and (min-height: 565px) {
  .guesses-tile {
    font-size: 1rem;
  }
}
@media screen and (min-height: 650px) {
  .guesses-tile {
    font-size: 1.5rem;
  }
}
@media screen and (min-height: 750px) {
  .guesses-tile {
    font-size: 2rem;
  }
}

/* use fixed sizes for legacy safari */
@supports not (aspect-ratio: 1/1) {
  .guesses-grid {
    min-height: 280px;
  }
  .guesses-tile {
    width: 58px;
  }
  @media only screen and (min-width: 800px) {
    .guesses-grid {
      min-height: auto;
    }
    .guesses-tile {
      width: 72px;
      height: 72px;
    }
  }
}

.keyboard {
  /* width: 100%; */
  /* min-height: 280px; */
  justify-content: center;
  font-size: 1.5rem;
}

.keyboard-row {
  user-select: none;
  display: flex;
  flex-direction: row;
  margin: 0 auto 4px;
  gap: 4px;
}

.key {
  flex-grow: 1;
  border-radius: 15px;
  background-color: var(--color-available);
  border: 2px solid var(--color-border);
  color: var(--color-text);
  text-align: center;
  cursor: pointer;
  width: 30px;
  line-height: 42px;
}
.key-enter {
  min-width: 80px;
  text-transform: capitalize;
}
.key-back {
  min-width: 60px;
}
@media screen and (min-width: 600px) and (min-height: 700px) {
  .keyboard {
    gap: 8px;
  }
  .key {
    line-height: 62px;
    width: 40px;
  }
  .key-letter,
  .key-back {
    font-size: 2rem;
  }
}

.key.available,
.key.present,
.key.match {
  box-shadow: rgba(0, 0, 0, 0.4) 5.95px 5.95px 5.6px;
}

.radio-toolbar {
  margin: 0 auto 1rem;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  background-color: var(--color-radio-bg);
  padding: 2px 8px;
  font-size: 14px;
  border: 2px solid var(--color-border);
  border-radius: 4px;
}

.radio-toolbar label:hover {
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: var(--color-radio-active);
  outline: 1px solid var(--color-border);
}

.guesses-tile:nth-of-type(1) {
  transition-delay: 0s;
}
.guesses-tile:nth-of-type(2) {
  transition-delay: 0.25s;
}
.guesses-tile:nth-of-type(3) {
  transition-delay: 0.5s;
}
.guesses-tile:nth-of-type(4) {
  transition-delay: 0.75s;
}
.guesses-tile:nth-of-type(5) {
  transition-delay: 1s;
}
.guesses-tile:nth-of-type(6) {
  transition-delay: 1.25s;
}
.guesses-tile:nth-of-type(7) {
  transition-delay: 1.5s;
}
.guesses-tile:nth-of-type(8) {
  transition-delay: 1.75s;
}

.emoji-tile {
  border: none;
  background: none;
}

.cursor {
  outline: 1px solid var(--color-border);
}
@media screen and (min-height: 600px) {
  .cursor {
    outline: 2px solid var(--color-border);
  }
}

.hint-area {
  font-size: 1rem;
  color: var(--color-hint-text);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  min-height: 22px;
}
.hint-button {
  font-size: 1rem;
  appearance: none;
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
}

.victory,
.defeat {
  text-align: center;
  margin-bottom: 2rem;
}
.victory {
  font-size: 3rem;
  animation: zoom 2s ease-in 1;
}
.defeat {
  font-size: 2rem;
}

.unavailable {
  background-color: var(--color-miss);
  cursor: auto;
}
.miss {
  background-color: var(--color-miss);
}
.present {
  background-color: var(--color-present);
}
.match {
  background-color: var(--color-match);
}

.collection-tiles .guesses-word {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
.collection-tiles .guesses-tile {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
}

.notice {
  position: fixed;
  min-width: 250px;
  z-index: 1;
  bottom: 15px;
  left: 50%;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  padding: 4px;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: var(--color-notice-text);
  background-color: var(--color-notice-bg);
}

/* animations */

.pulse {
  animation: pulse 0.5s linear infinite alternate;
}
.pop {
  animation: pop 0.3s;
}
.fadein {
  animation: fadein 0.5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes zoom {
  0% {
    transform: scale(0) rotate(-1turn);
  }
  80% {
    transform: scale(0.5) rotate(-180deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

@keyframes pop {
  from {
    transform: scale(0.8);
  }
  40% {
    transform: scale(1.2);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

[x-cloak] {
  display: none !important;
}
